@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none !important;
  transition: all .2s linear;
}

*::selection {
  color: #fff;
  background-color: #000;
}

html {
  font-size: 62.5%;
  overflow-x: hidden; 
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* common css class */
.body-padding {
  padding: 0 9%;
}

/*-------------------------------------
 media queries
------------------------------------- */
@media (max-width:1200px) {
  html {
    font-size: 55%;
  }
}

@media(max-width:991px) {

  .header-2,
  .header-3 {
    padding: 2rem;
  }
}

@media(max-width:768px) {
  #menu-bar {
    display: initial !important;
  }
  .header-3 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    background: var(--black);
    border-top: .1rem solid rgb(14, 9, 9);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  }
  .header-3 .navbar{
    background-color: rgba(0, 0, 0, 0.671) !important;
  }

  .header-3 .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
  }

  .header-3 .navbar a {
    display: block;
    margin: 1.5rem 0;
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    color: white !important;
    border-bottom: none !important;
  }

  .header-2 {
    flex-flow: column;
  }

  .header-2 .search-bar-container {
    margin-top: 2rem;
    width: 100%;
  }
  /*------------------------ for hero section */

.hero-content {
    width: 100% !important;
}
.hero-content h1{
    font-size: 4rem !important;
}

/* service section  */
.serviceWarp{
  display: grid;
  grid-template-columns: 1fr !important;
 grid-gap: 1rem !important;
 padding: 3rem 2% !important;
}
/* --------------------------for footer section */

  .footer{
    grid-template-columns: 1fr !important;
}
.body-padding {
  padding: 0 2%;
}

}

@media(max-width:498px) {
  html {
    font-size: 50%;
  }
  .header-1{
    justify-content: center !important;
  }
  .header-contract{
  display: none;
  }
  .nav-contract{
    display: none !important;
  }
}